* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(220, 15%, 55%);
    text-align: center;
}

img {
    width: 20vw;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.maincontainer {
    width: 20vw;
    background-color: hsl(212, 45%, 89%);
    padding: 12px 2px;
    border-radius: 15px;
}

h1 {
    padding: 10px 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    /* Family: [Outfit](https://fonts.google.com/specimen/Outfit)
    Weights: 400, 700 */
}

.contenttxt {
    padding: 10px 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 375px) {
    img {
        width: 80vw;
        padding: 0 10px;
        box-sizing: border-box;
    
    }
    .maincontainer {
        width: 80vw;
        background-color: hsl(212, 45%, 89%);
        padding: 12px 2px;
        border-radius: 10px;
    }

}